@media only screen and (max-width: $SM)
{
	.curriculo {
		.box-buttons-cunston {
			flex-direction: column;
			align-items: center;
			.btn-upload {
			    padding: 0!important;
			}
		}
	}
	@media (orientation: landscape)
	{

	}
	@media (orientation: portrait)
	{

	}
}