@media only screen and (max-width: $MD)
{
	.servicos {
		padding-top: 50px;
		padding-bottom: 50px;
	    overflow: hidden;
	}
	@media (orientation: landscape)
	{
		
	}
	@media (orientation: portrait)
	{

	}
}