@media only screen and (max-width: $LG)
{
	.universo {
		.owl-carousel-universo {
			max-width: 70%;
			margin-left: 15%;
			margin-right: 10%;
		}
	}
	@media (orientation: landscape)
	{

	}
	@media (orientation: portrait)
	{

	}
}