@media only screen and (max-width: $MD)
{
	.universo-home {
	    padding-top: 50px;
	    padding-bottom: 50px;
		.owl-carousel-universo {
			max-width: 60%;
			margin-left: 20%;
			margin-right: 20%;
			.owl-nav {
				top: calc(50% - 13px);
			    button {
			    	&.owl-prev,
				   	&.owl-next {
				   		height: 26px;
						width: 26px;
					}
					&.owl-prev {
						left: 15px;
					}
					&.owl-next {
						right: 15px;
					}
			    }
			}
		}
	}
	@media (orientation: landscape)
	{
		
	}
	@media (orientation: portrait)
	{

	}
}