header {
	background-color: $NeutralLight_1;
	position: fixed;
	top: 0;
	z-index: 50;
	width: 100%;
	.box-btn-menu,
	.box-btn-balao {
		display: none;
	}
	.menus {
		position: relative;
		z-index: 10;
		background-color: $NeutralLight_1;
	}
	.navbar-brand {
		margin: 0;
	}
	.navbar-collapse {
	    justify-content: center;
        z-index: 10;
	}
	.navbar-expand-lg {
		.navbar-nav {
			.nav-link {
				color: $NeutralDark_1;
				font-weight: normal;
				text-align: center;
				cursor: pointer;
				padding-right: 1.9375em;
				padding-left: 1.9375em;
				&:hover,
				&.active {
					color: $Brand_1;
					font-weight: bold;
				}
			}
		}
	}
	.bar-phones {
		background-color: $Brand_1;
		width: 100%;
		z-index: 5;
		&.scroll {
			position: absolute;
			bottom: -45px;
			transition: all 350ms ease-out;
		}
		&.hide {
			bottom: 0;
		}
		.dados {
			color: $NeutralLight_1;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 45px;
			.bar-phones-carroussel,
			.owl-stage-outer,
			.owl-stage,
			.owl-item {
				height: 100%;
				position: relative;
			}
			.owl-stage {
			    margin: auto;
				&:after {
					display: none;
				}
			}
			.owl-item {
				display: flex;
				align-items: center;
				justify-content: center;
				&:before {
					content: "";
					width: 8px;
					height: 8px;
					background-color: $NeutralLight_1;
					top: calc(50% - 4px);
					left: -4px;
					position: absolute;
					border-radius: 50%;
				}
				&:after {
					content: "";
					width: 8px;
					height: 8px;
					background-color: $NeutralLight_1;
					top: calc(50% - 4px);
					right: -4px;
					position: absolute;
					border-radius: 50%;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
				&:first-child {
					&:before {
						display: none;
					}
				}
				.item {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 0.75em;
					@media only screen and (max-width: 1500px)
					{
						font-size: 1em;
					}
					span {
						padding-right: 5px;
					}
					p {
				    	margin: 0;
				    	a {
				    		color: $NeutralLight_1;
				    	}
					}
				}
			}
		}
	}
}