@media only screen and (max-width: $SM)
{
	footer {
		.menu {
			text-align: center; 
		}
		.box-redes,
		.redes {
			text-align: center; 
			justify-content: center;
		}
	}
	@media (orientation: landscape)
	{

	}
	@media (orientation: portrait)
	{

	}
}